{% layout '../index-layout.liquid', title: 'Intern Delete Form' %}
    {% assign intern = this.getIntern %}

    {% block content %}
        <form 
            action="/delete-intern"
            method="post"
            class="warning"
        >
            <p class="warning__message">
                Are you sure you want to delete {{ intern.First_Name }} {{ intern.Last_Name }} from the database?
            </p>

            <input 
                class="no-display"
                name="id"
                value= {{ intern.Id }}
            />
            
            <div class="warning__buttons">
                <button 
                    type="submit"
                    class="warning__proceed-btn"
                >
                    Proceed
                </button>
                <button 
                    href="/interns"
                    class="warning__exit-btn"
                >
                    Back
                </button>
            </div> 
        </form>
    {% endblock %}