{% layout '../index-layout.liquid', title: 'Interns Page' %}
    {% assign interns = this.getInterns %}

    {% block content %}
        <div class="interns">
            <ul class="users-list">
                {% for intern in interns %}
                    <li class="users-list__item">
                        <div class="user">
                            <div class="user__detail-row">
                                <label class="user__detail-label">Name:</label> 
                                <span class="user__detail">{{ intern.firstName | capitalize }} {{ intern.lastName | capitalize }}</span>
                            </div>

                            <div class="user__detail-row">
                                <label class="user__detail-label">Email:</label>
                                <span class="user__detail">{{ intern.email }}</span>
                            </div>

                            <div class="user__buttons">
                                <button class="user__button">
                                    <a 
                                        href="/intern?id={{ intern.id }}"
                                        class="user__link"
                                    >
                                        View
                                    </a>
                                </button>
                            </div>
                        </div>

                    </li>
                {% endfor %}
                <li class="users-list__item">
                    <form action="/add-intern">
                        <button 
                            type="submit"
                            class="users-list__add-button"
                        >
                            Add New Intern
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    {% endblock %}