{% layout '../index-layout.liquid', title: 'Interns Page' %}
    {% assign interns = this.getInterns %}

    {% block content %}
        <div class="interns">
            <ul class="interns-list">
                {% for intern in interns %}
                    <li class="interns-list__item">
                        <div class="user">
                            <div class="mentor__detail-row">
                                <label class="mentor__detail-label">Name:</label> 
                                <span class="mentor__detail">{{ intern.firstName | capitalize }} {{ intern.lastName | capitalize }}</span>
                            </div>

                            <div class="mentor__detail-row">
                                <label class="mentor__detail-label">Email:</label>
                                <span class="mentor__detail">{{ intern.email }}</span>
                            </div>

                            <div class="user__buttons">
                                <button class="user__button">
                                    <a 
                                        href="/intern?id={{ intern.id }}"
                                        class="user__link"
                                    >
                                        View
                                    </a>
                                </button>
                            </div>
                        </div>

                    </li>
                {% endfor %}
                </ul>
        </div>
    {% endblock %}