{% layout './index-layout.liquid', title: 'Intern Login' %}

    {% block content %}
        <form
            action="/intern-login"
            method="post"
            class="form"
        >
            <input
                type="hidden"
                name="csrfToken"
                value={{ csrfToken }}
            />

            <div class="form__item">
                <label 
                    for="internEmail"
                    class="form__label"
                >
                    Email:
                </label>
                <br />
                <input
                    id="internEmail"
                    type="email"
                    name="internEmail"
                    class="form__input"
                    placeholder="Email"
                />
            </div>

            <div class="form__item">
                <label 
                    for="internEmail"
                    class="form__label"
                >
                    Password:
                </label>
                <br />
                <input
                    id="internPassword"
                    type="password"
                    name="internPassword"
                    class="form__input"
                    placeholder="Password"
                />
            </div>

            <button 
                type="submit"
                class="form__btn"
            >
                Login
            </button>
        </form>
    {% endblock %}
        