{% layout '../index-layout.liquid', title: 'Interns Page' %}
    {% assign interns = this.getInterns %}

    {% block content %}
        <div class="interns">
            <ol class="interns-list">
                {% for intern in interns %}
                    <li class="interns-list__item">
                        <a href="" class="interns-list__link">
                            {{ intern.Last_Name | capitalize }} {{ intern.First_Name | capitalize }} is {{ intern.Age }} years old, and 
                                {% if intern.Gender == "Male" %}
                                    he
                                {% else %}
                                    she
                                {% endif %}
                            is enrolled for {{ intern.Title }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endblock %}