{% layout './index-layout.liquid', title: 'Mentor Login' %}

    {% block content %}
        <form
            action="/mentor-login"
            method="post"
            class="form"
        >

            <p class="attention">ONLY FOR AUTHORIZED MENTORS!</p>
            
            <input
                type="hidden"
                name="csrfToken"
                value={{ csrfToken }}
            />

            <div class="form__item">
                <input
                    type="email"
                    name="mentorEmail"
                    class="form__input"
                    placeholder="Email"
                />
            </div>

            <div class="form__item">
                <input
                    type="password"
                    name="mentorPassword"
                    class="form__input"
                    placeholder="Password"
                />
            </div>

            <button 
                type="submit"
                class="form__btn"
            >
                Login
            </button>
        </form>
    {% endblock %}
        