{% layout './index-layout.liquid', title: 'Home Page' %}
    <!-- {% assign sections = this.getSections %} -->
    
    {% block content %}
        <div class="home">
            <p class="home__header">Control System For Our Internship Program</p>

            <p class="home__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vero sint rerum consequatur quis nobis aperiam excepturi 
                ducimus magnam odit pariatur neque qui necessitatibus error
                itaque quod officia, optio, eum veniam.
            </p> 

            <p class="home__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vero sint rerum consequatur quis nobis aperiam excepturi 
                ducimus magnam odit pariatur neque qui necessitatibus error
                itaque quod officia, optio, eum veniam.
            </p> 

            <p class="home__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vero sint rerum consequatur quis nobis aperiam excepturi 
                ducimus magnam odit pariatur neque qui necessitatibus error
                itaque quod officia, optio, eum veniam.
            </p> 

            <p class="home__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vero sint rerum consequatur quis nobis aperiam excepturi 
                ducimus magnam odit pariatur neque qui necessitatibus error
                itaque quod officia, optio, eum veniam.
            </p> 

            <p class="home__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vero sint rerum consequatur quis nobis aperiam excepturi 
                ducimus magnam odit pariatur neque qui necessitatibus error
                itaque quod officia, optio, eum veniam.
            </p> 

            <p class="home__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vero sint rerum consequatur quis nobis aperiam excepturi 
                ducimus magnam odit pariatur neque qui necessitatibus error
                itaque quod officia, optio, eum veniam.
            </p> 

            <p class="home__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vero sint rerum consequatur quis nobis aperiam excepturi 
                ducimus magnam odit pariatur neque qui necessitatibus error
                itaque quod officia, optio, eum veniam.
            </p> 

            <p class="home__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vero sint rerum consequatur quis nobis aperiam excepturi 
                ducimus magnam odit pariatur neque qui necessitatibus error
                itaque quod officia, optio, eum veniam.
            </p> 
               
        </div>
    {% endblock %}