{% layout './index-layout.liquid', title: 'Intern Page' %}
    {% assign interns = this.getInterns %}

    {% block content %}
        <ol class="interns-list">
            {% for intern in interns %}
                <li class="interns-list__item">
                    <a href="" class="interns-list__link">
                        {{ intern.name | capitalize }} is {{ intern.age }} years old, and 
                            {% if intern.gender == "Male" %}
                                he
                            {% else %}
                                she
                            {% endif %}
                        is enrolled for {{ intern.area }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% endblock %}