{% layout './index-layout.liquid', title: 'Modules Page' %}
    {% assign modules = this.getModules %}

    {% block content %}
        <ol class="module-list">
            {% for module in modules %}
                <li class="module-list__item">
                    <p  class="module-list__title">
                        The Module {{ module.title }} lasted for {{ module.days }} 
                            {% if module.days == 1 %}
                                day
                            {% else %}
                                days
                            {% endif %} 
                        and it involves:
                    </p>
                    <p class="module-list__desc">
                        {{ module.desc }}
                    </p>
                </li>
            {% endfor %}
        </ol>
    {% endblock %}