{% layout './index-layout.liquid', title: 'Sign Up' %}

    {% block content %}
        <form
            action="/sign-up"
            method="post"
            class="sign-up-form"
        >
            <div class="sign-up-form__item">
                <input
                    type="email"
                    name="clientEmail"
                    class="sign-up-form__input"
                    placeholder="Email"
                />
            </div>

            <div class="sign-up-form__item">
                <input
                    type="password"
                    name="clientPassword"
                    class="sign-up-form__input"
                    placeholder="Password"
                />
            </div>

            <button 
                type="submit"
                class="sign-up-form__btn"
            >
                Sign Up
            </button>
        </form>
    {% endblock %}
        