{% layout './index-layout.liquid', title: 'Specialty Areas Page' %}
    {% assign specialtyAreas = this.getSpecialtyAreas %}

    {% block content %}
        <div class="specialty-area">
            <p class="specialty-area__info">
                At the time of this writing, there are {{ specialtyAreas.length }} stacks in this program, they include:
            </p>
            <ol class="specialty-area-list">
                {% for specialtyArea in specialtyAreas %}
                    <li class="specialty-area__item">
                        <p  class="specialty-area__title"> 
                            {{ specialtyArea.title }}:
                        </p>
                        <p  class="specialty-area__desc">
                            {{ specialtyArea.desc }}
                        </p>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endblock %}