{% layout './index-layout.liquid', title: 'Tasks Page' %}
    {% assign tasks = this.getTasks %}

    {% block content %}
        <ol class="task-list">
            {% for task in tasks %}
                {% assign hint = task.hint%}
                <li class="task-list__item">
                    {{ task.title }}:
                    <p class="task-list__desc">
                        {{ task.desc }}.
                            {% if hint %}
                                <p class="task-list__hint">
                                    Hint: {{ hint }}
                                </p> 
                            {% endif %}
                    </p>
                    <p class="task-list__difficulty">
                        Difficulty: {{ task.difficulty }},
                    </p>
                </li>
            {% endfor %}
        </ol>
    {% endblock %}