{% layout './index-layout.liquid', title: 'Tasks Page' %}
    {% assign tasks = this.getTasks %}

    {% block content %}
        <div class="tasks">
            <ol class="tasks-list">
                {% for task in tasks %}
                    <li class="tasks-list__item">
                        Task on  
                        <span class="tasks-list__module">
                            {{ task.Task }}:
                        </span>
                        under 
                        <span class="tasks-list__end">
                            {{ task.Title }}:
                        </span>

                        <p class="tasks-list__desc">
                            {{ task.Description }}.
                       </p>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endblock %}