.mentors-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    width: 90%;
    margin: 2rem auto;

    box-shadow: $inset-shadow;

    border-radius: 1rem;

    &__item {
        list-style-type: none;
    }

    &__add-button {
        width: 16rem;
        padding:1rem 1.5rem;
        margin: 8rem auto;
        
        background-color: $yellow-green; 
        
        color: $white;

        border: none;
        border-radius: 1rem;
    }
}