.sub-header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 7rem;

    background-color: $yellow-green;

    &__list {
        display: flex;
    
        width: 60%;
        height: inherit;
        margin: 0 auto;
        padding: 0;
    }
    
    &__list-item {
        height: inherit;
        
        list-style-type: none;
    }
    
    &__link {
        display: flex;
        align-items: center;
    
        height: 100%;
        padding: 0 2rem;
    
        font-size: 1.9rem;
        font-weight: 600;
        color: $white;
        text-decoration: none;
    }
}
