{% layout './index-layout.liquid', title: 'Internship Page' %}
    {% assign internships = this.getInternships %}

    {% block content %}
        <div class="internships">
            <ol class="internships-list">
                {% for internship in internships %}
                    <li class="internships-list__item">
                        <p>{{ internship.title }}, {{ internship.internshipYear }}</p>
                        <p>Start Date: {{ internship.startDate }}</p>
                        <p>End Date: {{ internship.endDate }}</p>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endblock %}