<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="../css/styles.css" type="text/css" rel="stylesheet" />
    
    <title>Internships Page</title>
</head>
<body>
    <div class="internships">
        <header class="internships__header">Internships Page!</header>
        <main class="internships__main">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint quod nemo ea veniam aspernatur ex illum, eos adipisci eius autem recusandae dolore in quas ducimus possimus nisi. Eos, atque assumenda?
            Quisquam quo sit dolorum repellat a, nulla odio veniam odit facere incidunt ipsam rem, accusantium amet tempore harum maxime possimus! Dolorem iure veritatis temporibus repellat laudantium magni nobis quasi recusandae.
        </main>
    <div>
</body>
</html>