<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="../css/styles.css" type="text/css" rel="stylesheet" />
    
    <title>Interns Page</title>
</head>
<body>
    <div class="interns">
        <header class="interns__header">Interns Page!</header>
        <main class="interns__main">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum itaque error tempora tempore facilis aliquid sint minima porro voluptates eaque fuga incidunt facere rem provident at, perferendis vero doloribus excepturi.
            Officiis accusantium tempore delectus, expedita corrupti veniam pariatur non est, deleniti amet perferendis quidem. Quae ipsa dignissimos vero doloremque. Dolor, officia iure. Officiis in deserunt explicabo vero amet at totam.
        </main>
    <div>
</body>
</html>