<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="../css/styles.css" type="text/css" rel="stylesheet" />
    
    <title>Modules Page</title>
</head>
<body>
    <div class="modules">
        <header class="modules__header">Modules Page!</header>
        <main class="modules__main">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quam placeat nemo autem veritatis impedit fuga odio. Harum a sint rerum eveniet provident magnam maxime animi repudiandae, odio repellat adipisci!
Tempora blanditiis officiis praesentium possimus corrupti quaerat tempore ipsa voluptatum veritatis cupiditate! Quasi, obcaecati totam sit odit laborum voluptates corrupti ex eaque saepe, tempora, harum vero cumque quidem nulla dicta.        </main>
    <div>
</body>
</html>