<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="../css/styles.css" type="text/css" rel="stylesheet" />

    <title>Secialty-areas page</title>
</head>
<body>
    <div class="specialty-areas">
        <header class="specialty-areas__header">Specialty Areas Page!</header>
        <main class="specialty-areas__main">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero quibusdam eius debitis minima omnis delectus minus cumque, sapiente maiores iusto. Quibusdam quis exercitationem quam dolor neque quia architecto vero voluptate!
            Sit vel magni corrupti beatae? Culpa quibusdam maxime molestias aliquid dolor ducimus velit iure id dolore, et deleniti, nisi, non repellendus exercitationem nam a doloribus totam modi nihil! Ipsum, facilis!
        </main>
    <div>
</body>
</html>