<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="../css/styles.css" type="text/css" rel="stylesheet" />
    <title>Tasks Page</title>
</head>
<body>
    <div class="tasks">
        <header class="tasks__header"></header>
        <main class="tasks__main">
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus dignissimos officiis, quisquam ut facere, maiores beatae corporis earum cum aliquam commodi. Adipisci ea eum quaerat sed laboriosam dolorum doloremque officia.
           Asperiores, adipisci. Doloribus beatae, placeat id hic corporis quibusdam quis ullam quo sint, animi maxime praesentium quod inventore amet eius facilis! Enim, dignissimos quos mollitia reprehenderit soluta nisi illo et.
        </main>
    <div>
</body>
</html>