$yellow-green: rgb(111, 192, 36);
$almost-white: #fafafa;
$black: rgb(0, 0, 0);
$light-grey: #ddd;
$cream: rgb(207, 205, 158);
$white: rgb(255, 255, 255);
$dark-blue: rgba(30, 30, 63);
$darker-blue: rgb(50, 50, 93);
$dark-grey: rgb(53, 52, 52);
$inset-shadow: rgba($dark-blue, 0.15) 0 3rem 6rem -1.2rem inset,
                rgba($black, 0.1) 0 1.8rem 3.6rem -1.8rem inset;
$deem-yellow-green: rgb(82, 143, 26);
$dark-sky-blue: rgb(10, 37, 64);
$red: rgb(255, 0, 55);